body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__links {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.links__item {
  margin-left: 20px;
}

/* .navigation__phone {
  margin-top: 60px;
} */

.navigation__phone a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.title {
  margin-top: 50px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.btn {
  margin-top: 15px;
  text-transform: uppercase;
}
.subtitle {
  text-align: center;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0;

  list-style-type: none;
}

.catalog__list-item {
  margin-top: 50px;
  width: 350px;
}

.catalog__list-image {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.catalog__list-item img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.catalog__list-item b {
  display: block;
  margin-top: 15px;
  font-size: 22px;
}

.catalog__list-descr p {
  font-size: 14px;
  margin: 0;
}

.line {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 200px;
  height: 1px;
  background-color: #fff;
}
.terms__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  padding-bottom: 50px;
}

.footer__wrap {
  display: flex;
  align-items: top;
}

.footer__address {
  margin-left: 50px;
}

.footer__right {
  justify-self: self-end;
}

@media (max-width: 540px) {
  .navigation {
    align-items: top;
  }

  .navigation__links {
    display: none;
  }

  .catalog__list {
    flex-direction: column;
    justify-content: center;
  }

  .catalog__list-item:first-child {
    margin-top: 0;
  }

  .terms {
    display: none;
  }
}
